body {
  font-family: arial, sans-serif;
  background-color: #fafafa;
}

h1 {
  color: #2b2b2b;
  font-size: 26px;
  line-height: 26px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: bold;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
  background-color: white;
}
.mainInfo {
  max-width: 600px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: 10px;
}
.weatherDetails {
  text-align: left;
  padding-left: 100px;
}

.weather-icon {
  width: 80px;
  margin-right: 5px;
  margin-top: -7px;
}

.temperature {
  color: #2b2b2b;
  font-size: 62px;
  font-weight: 100;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  color: #2b2b2b;
}

.search-form {
  margin-bottom: 20px;
}
.forecast {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ec6e4b;
  text-align: center;
  opacity: 70%;
}
.row-cols-2 {
  max-width: 600px;
  margin-left: 15px;
}
.card {
  margin-right: 15px;
  color: #2b2b2b;
  height: 210px;
}
.forecastDegrees {
  font-size: 40px;
  text-align: center;
}
.degrees {
  font-size: 22px;
}
.smaller {
  font-size: 16px;
}
.card-header {
  text-align: center;
}
.weatherIcon {
  display: block;
  width: 50px;
}
.btn-light {
  margin: 10px auto;
  max-width: 600px;
}
.myCode {
  text-align: center;
  font-family: monospace;
}
.active {
  color: #2b2b2b;
  cursor: default;
}
.active:hover {
  color: #2b2b2b;
  cursor: default;
  text-decoration: none;
}
