body {
  font-family: arial, sans-serif;
}

h1 {
  color: #2b2b2b;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  font-weight: bold;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

.weather-icon {
  width: 70px;
  margin-right: 20px;
  margin-top: 5px;
}

.temperature {
  color: #2b2b2b;
  font-size: 62px;
  font-weight: 100;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
  color: #2b2b2b;
}

.search-form {
  margin-bottom: 20px;
}
.forecast {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2b2b2b;
  text-align: center;
}
.row-cols-2 {
  padding: 10px auto;
  margin: 10px auto;
  max-width: 550px;
}
.card {
  margin-right: 15px;
  color: #2b2b2b;
  height: 210px;
}
.forecastDegrees {
  font-size: 40px;
  text-align: center;
}
.degrees {
  font-size: 22px;
}
.smaller {
  font-size: 16px;
}
.card-header {
  text-align: center;
}
.weatherIcon {
  display: block;
  width: 50px;
}
.btn-light {
  margin: 10px auto;
  max-width: 600px;
}
